body {
  background: rgb(201, 187, 175);
  background-image: linear-gradient(to top, #d3af8f 0%, #b3967d 100%);
}

.App a {
  color: rgb(113, 87, 105);
}

.App a:hover {
  color: rgb(96, 82, 67);
}

.App-header {
  margin-top: 50px;
  padding-top: 20px;
  padding-right: 350px;
  color: rgb(74, 51, 46);
}

.App-logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.App .title {
  margin-left: 100px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.Dictionary {
  background: none;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  text-shadow: 5px 10px 20px 10px rgba(80, 63, 47, 0.5);
}

.Dictionary form {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-left: 100px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.Dictionary input {
  border: 1px solid #ddd;
  border-radius: 10px;
  color: #333;
  padding: 6px 6px;
  width: 100%;
}

.Dictionary .question {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin-left: 100px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.Dictionary p {
  padding: 2px;
}

.Dictionary section {
  background: rgb(195, 203, 199);
  background-image: linear-gradient(
    to right,
    #a2b6ae 0%,
    #a8bab6 30%,
    #a8bab6 64%,
    #a2b6ae 100%
  );
  padding: 30px;
  margin: 20px;
  margin-left: 60px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 10px rgba(80, 63, 47, 0.112);
}

.Meaning .definition {
  color: rgb(89, 73, 83);
  font-size: 1.2;
  font-weight: bold;
}

.Meaning .example {
  color: #6c6464;
  font-size: 15px;
  font-style: italic;
  margin-top: 8px;
}

.Phonetic {
  margin: 15px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 8px 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: rgb(156, 157, 135);
  border: 1px solid #ddd;
}

.Results h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 25px;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}

.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  font-size: 13px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
}
