.Dictionary {
  background: none;
  max-width: 460px;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  text-shadow: 5px 10px 20px 10px rgba(80, 63, 47, 0.5);
}

.Dictionary form {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-left: 100px;
  padding-bottom: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 6px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary p {
  padding: 2px;
}

.Dictionary section {
  background: rgb(195, 203, 199);
  padding: 30px;
  margin: 20px;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 10px rgba(80, 63, 47, 0.08);
}
